.card {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 177px;
}
.img {
  background-size: cover;
  border-radius: 8px 8px 0 0;
}
.title {
  padding: 0.4rem;
  text-align: center;
  p {
    color: #aeaeae;
  }
}
.divider {
  border-top: 1px solid #fff;
  margin: 5px 0;
}
